<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-http-request-json"
    version="1.0.0">
    <name>cordova-http-request-json</name>
    <description>request api json</description>
    <license>null</license>

    <js-module src="www/HttpRequestCordova.js" name="HttpRequestCordova">
        <clobbers target="HttpRequestCordova" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HttpRequestCordova" >
                <param name="android-package" value="br.com.fabrica704.http.HttpRequestCordova"/>
            </feature>
        </config-file>
        <framework src="com.android.volley:volley:1.1.1" />

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <source-file src="src/android/HttpRequestCordova.java" target-dir="src/br/com/fabrica704/http" />
    </platform>

</plugin>